div#content-main {
	
	font-family: 'Roboto', sans-serif;
	color: #555;
}

div#content-main h1 {
	
	margin-top: 10px;
}

div#content-main .strapline {
	
	margin-top: 10px;
}

div#content-main hr {
	
	margin-bottom: 0;
}

div#content-main ul 
{
	padding-left: 0;
}

div#content-main ul li {
	
	list-style-type: none;
	border-bottom: 1px solid #efefef;
	padding: 10px 0;
}

p.summary
{
	color: #666;
	padding: 10px;
	background-color: #efefef;
}