<div id="content-main">
	
	<div class="grid">
		
		<div class="unit whole">
	
			<div>
				<img ng-src="{{blogConfig.logoImageSrc}}" alt="logo" />
			</div>
			<div class="strapline">
				<span>{{blogConfig.strapLineText}}</p>
				<hr />
			</div>
		</div>
	</div>
	
	
	<div class="grid">
		
		<div class="unit three-quarters">
	
			<div><strong><a href="/">Home</a></strong> <span>/</span> <strong>{{contentCurrent.title}}</strong></div> 
			
			<h1>{{contentCurrent.title}}</h1>
		
			<p>Published: <span>{{contentCurrent.publicPublishDate | date}}</span></p>
	
			<div ng-bind-html="contentCurrent.content"></div>
			
			<div ng-if="blogConfig.disqusShortName" disqus="contentCurrent.key"></div>
			
		</div>
		<div class="unit one-quarter">
	
			<strong>Recent articles</strong>
			
			<ul>
				<li ng-repeat="contentEntry in blog.contentEntryList">
					
					<!-- Link click will not refresh the page, but content is loaded and URL is updated -->
					
					<a href="{{contentEntry.blogUrl}}" class="link">{{contentEntry.title}}</a> 
				</li>
			</ul>
			
		</div>
	
	</div>
</div>
